 .body{
    background-color: #1d1d1d; /* Cor cinza claro */
}

.parágrafos{
color: white
}

#importante{
    background-color: rgb(44, 44, 44);
    font-size: xx-large;
    color: white
}

.botão{
    
    border-radius: 10px;
    color: black
}

.títulos{
    color:white
}